<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>InfoUnidad</title>





    <!-- Bootstrap core CSS -->


    <link href="/css/bootstrap.min.css" rel="stylesheet">





</head>

<body class="text-center">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">INFO-DOC</a>

            <!-- Boton para el menu movil -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="menu" aria-expanded="false" aria-label="Mostrar / Ocultar Menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="/login" class="nav-link">SALIR</a></li>
                </ul>
            </div>
        </div>

    </nav>
    <% if (unid) { %>
        <div class="container p-4">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card text-center">
                        <div class="card-header">
                            <h1 class="h3 mb-3 fw-normal">UNIDAD</h1>
                        </div>
                        <div class="card-body">
                            <form action="/actualizarUnidad" method="POST">

                                <input id="id" name="id" value="<%= unid.id %>" hidden>
                                
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.patente %></h1>
                                    <label for="patente">PATENTE</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.modelo %></h1>                                     
                                    <label for="modelo">MODELO</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.chasis %></h1>                                    
                                    <label for="chasis">CHASIS</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.motor %></h1>                            
                                    <label for="motor">MOTOR</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.segurovto %></h1>
                                    <label for="segurovto">VTO SEGURO</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.seguropol %></h1>                      
                                    <label for="seguropol">POLIZA N</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.ruta %></h1>                                    
                                    <label for="ruta">VTO RUTA</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.rto %></h1>
                                    <label for="rto">VTO REV TECNICA</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.ve %></h1>
                                    <label for="ve">VISUAL EXTERNA</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.mas %></h1>
                                    <label for="mas">MAS</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.spot %></h1>                           
                                    <label for="spot">SPOT</label>
                                </div>
                                <div class="form-floating">
                                    <h1 class="form-control" ><%= unid.service %></h1>                           
                                    <label for="spot">ULTIMO SERVICE</label>
                                </div>
                              
                                <a href="/choferEdit/<%=chofer.id %>" type="button" class="w-100 mb-2 btn btn-lg btn-primary">EDITAR</a>
                                <a href="/searchResult" type="button" class="w-100 btn btn-lg btn-primary">VOLVER</a>
            
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <% } %>
            





            <script src="/js/bootstrap.bundle.min.js"></script>
         
</body>

</html>